body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: #d8b186;
}

body .btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 2px solid #000;
  color: #000;
}

header {
  width: 100%;
  height: 57.91vw;
  padding-top: 1rem;
  background: url(../img/bg-header-new.jpg) no-repeat center center/cover;
}

header nav {
  width: 100%;
}

header nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin: 0 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}

header nav ul li:first-child {
  margin-right: auto;
}

header nav ul li:first-child img {
  width: 8rem;
}

header nav ul li:last-child {
  margin-left: auto;
}

header nav ul li:last-child div {
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1rem;
}

header nav ul li:last-child div div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #f2cb92;
}

header .title {
  width: 100%;
  padding-top: 4rem;
  text-align: center;
  align-items: center;
  position: relative;
}

header .title h4 {
  font-size: 0.7rem;
  color: #ad764b;
  margin-bottom: 0rem;
  font-family: "Montserrat", sans-serif;
}

header .title p {
  color: #ad764b;
  margin-top: 0rem;
  font-family: "Montserrat", sans-serif;
}

header .title h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #fefefe;
  text-transform: capitalize;
}

header .title .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

header .title .scroll img {
  width: 1rem;
  margin-bottom: 0.5rem;
}

header .title .scroll a {
  text-decoration: none;
  font-size: 0.6rem;
  color: #fefefe;
}

.about {
  margin: 0 auto;
  text-align: center;
}

.about h4 {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
}

.about h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.about h1 span {
  color: #fff;
}

.about .text-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.about .text-area div {
  margin: 0 3rem;
}

.about .text-area div p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  text-align: center;
  margin: 6rem 0;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.container h1 span {
  color: #fff;
}

.container h4 {
  font-size: 0.7rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.container h3 {
  font-size: 2.5rem;
}

.container .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin: 0 15rem;
}

.container .card .text h3 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: capitalize;
}

.container .card .text p {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
}

.container .card .text a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

.display {
  text-align: center;
  padding-top: 1rem;
}

.display h4 {
  font-size: 0.7rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.display h2 {
  text-transform: capitalize;
}

.display h2 span {
  color: #fff;
}

.display p {
  font-family: "Montserrat", sans-serif;
}

footer {
  position: relative;
  margin-top: 6rem;
}

footer .footer {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background: url(../img/footer-background.jpg) no-repeat center center/cover;
}

footer .footer h4 {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
}

footer .footer h1 {
  margin-bottom: 4rem;
  text-transform: capitalize;
}

footer .footer h1 span {
  color: #fefefe;
}

footer .footer .button {
  margin-bottom: 24rem;
}

footer .footer .button a {
  color: #000;
}

footer .footer .media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 6rem;
}

footer .footer .media img {
  width: 8rem;
  margin-left: 6rem;
  opacity: 0.3;
}

footer .footer .footer-bottom {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}

footer .footer .footer-bottom p {
  font-family: "Lora", serif;
}

footer .footer .footer-bottom img {
  height: 1.5rem;
  width: 10rem;
  padding-left: 3rem;
}

footer .footer .footer-bottom a {
  text-decoration: none;
  padding-left: 6rem;
  color: #000;
  font-family: "Lora", serif;
}

footer .footer .footer-bottom::before {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 100vw;
    padding-top: 1rem;
    margin-bottom: 10rem;
  }
  .title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .title h4 {
    margin-bottom: 0rem;
  }
  .title p {
    margin-top: 0rem;
  }
  .title h1 {
    margin: 0;
  }
  .about {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .about .text-area {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0rem;
    padding: 0;
    text-align: center;
  }
  .about img {
    width: 90% !important;
    margin: auto;
  }
  .container {
    text-align: center;
  }
  .container h1 {
    margin-bottom: 4rem;
  }
  .container .card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 3rem;
  }
  .container .card .text {
    padding-bottom: 4rem;
  }
  .container .btn {
    margin-top: 0rem;
  }
  .footer {
    width: 100%;
  }
}
